script(type="text/x-tamplate" id="cardRepo")
  .card.border-warning.bg-transparent.text-warning
    .card-body
        h5.card-title
          a(:href="prop.web_url").text-warning
            | {{ prop.path_with_namespace }}
        p.card-text
         | Description：{{ prop.description }}
        p.card-text
          | Author：
          a(:href="urlitem + prop.namespace.full_path").text-warning
            | {{prop.namespace.full_path}}
    .card-footer
      small.text-warning
        | Create Time：{{ prop.created_at }}
      br
      small.text-warning
        | Last Update：{{ prop.last_activity_at }}
script(src="./js/vendors.js")
script(src="./js/all.js")