.bg{
  background-color: rgba($color: black, $alpha: 0.7)
}
#bg1-img{
  transition: all 1.5s;
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom:0;
  z-index: 1;
  width: 100%;
  height: 100vh;
}
#bg2-img{
  transition: all 1.5s;
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom:0;
  z-index: 1;
  width: 100%;
  height: 100vh;
}
#app{
  position: relative;
  height: 100vh;
  z-index: 2;
}